/* Center the page */
.experiment-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

/* Center the form container */
.experiment-form-container {
  background-color: #f1f0f0;
  color: black;
  padding: 30px;
  max-width: 300px; /* Matches your image */
  width: 100%;
  height: 350px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  border: 2px solid black;
}

/* Title */
.experiment-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: -10px;
  text-align: left;
}

/* Buttons */
.experiment-btn {
  background: white;
  color: black;
  border: 2px ;
  padding: 20px 50px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 85%;
  margin-bottom: 30px; /* Spacing between buttons */
}

.experiment-btn:hover {
  background: rgb(219, 219, 219);
}

/* Check Button */
.experiment-check-btn {
  background: lightgreen;
  color: black;
  padding: 8px 20px;
  font-size: 16px;
  border: 2px ;
  font-weight: bold;
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
}
